@import url(reset.css);
@import url(common.css);

header{
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header a{
    color: white;
}

.logo{
    width: 170px;
}

.menu_wrap{
    height: 70px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    transition: 0.2s;
    padding-top: 25px;
}


.menu_wrap:hover{
    width: 800px;
}

.menu_wrap li:hover {
    border-bottom: 3px solid #f90d31;
}

.menu_wrap li:hover a{
    color: #f90d31;
}

.menu_wrap a{
    display: block;
    padding-bottom: 25px;
}

.search_icon{
    width: 42px;
    height: 42px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon img{
    width: 40%;
}
/* header end */


.section_1{
    height: 100vh;
    position: relative;
}

.section_1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title_wrap_1{
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.title_wrap_1 img{
    width: 60%;
}

.title_wrap_1 h1{
    font-size: 70px;
    color: white;
    font-weight: 600;
    line-height: 90px;
}

.tab_menu_wrap{
    width: 500px;
    position: absolute;
    bottom: 100px;
    right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.tab_menu_wrap li{
    width: 160px;
    border-top: 1px solid #fff;
    padding-top: 15px;
}
/* section_1 end */



.con_wrap_2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.con_2{
    width: 25%;
    height: 450px;
    background-color: #fff1d4;
    position: relative;
    overflow: hidden;
}

.con_2 a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point_bg{
    background-color: #e7dbcc;
}

.con_2 img{
    width: 70%;
}

.red_box{
    width: 100%;
    height: 100%;
    background-color: #df3448;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    transition: 0.2s;
}

.con_2:hover .red_box{
    top: 0;
}

.circle{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.circle h4{
    font-size: 22px;
    font-weight: 500;
}

.circle h3{
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-top: 25px;
    line-height: 40px;
}

.con_2:hover img{
    transform: scale(0.9);
    transition: 0.2s;
}
/* section_2 end */


.section_3{
    background-color: #fbf9f3;
    overflow: hidden;
}

.container_3{
    margin-top: 100px;
    position: relative;
    height: 550px;
}

.con_wrap_3{
    width: 2800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    animation: con_ani 10s infinite alternate linear;
    position: absolute;
    left: 0;
}

.con_wrap_3:nth-child(1){
    top: 0;
}

.con_wrap_3:nth-child(2){
    animation-name: con_ani_2;
    bottom: 0;
}

@keyframes con_ani {
    0%{
        left: 0;
    }

    100%{
        left: -50%;
    }
}

@keyframes con_ani_2 {
    0%{
        left: -50%;
    }

    100%{
        left: 0;
    }
}

.con_wrap_3:hover{
    animation-play-state: paused;
    /* =>애니메이션을 멈추거나 재생을 제어함  */
}

.con_3{
    width: 12%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    /* box-shadow: x y 분산 흐림 컬러; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}